services:
  fedeshub-db:
    image: postgres:16
    container_name: fedeshub-db
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $DB_USER -d $DB_NAME" ]
      interval: 5s
      retries: 10
    networks:
      - fedes-net

  backend:
    build: ./backend
    container_name: fedes-hub
    restart: always
    env_file: ./backend/.env
    command: npm start
    depends_on:
      fedeshub-db:
        condition: service_healthy
    networks:
      - fedes-net
    volumes:
      - ./backend/public/avatars:/usr/src/app/public/avatars
      - ./backend/uploads:/usr/src/app/uploads

  frontend:
    build: ./frontend
    container_name: fedes-hub_frontend
    restart: always
    networks:
      - fedes-net
    volumes:
      - ./backend/public/avatars:/usr/share/nginx/html/avatars:ro
      - ./backend/uploads:/usr/share/nginx/html/uploads:ro

volumes:
  postgres_data:


networks:
  fedes-net:
    external: true
