/* src/components/chat/shared/DMList.scss */
.chat-dms {
  height: 100%;
  display: flex;
  flex-direction: column;

  .list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-right: 6px;
    overflow: auto;
    max-height: 95%;
    /* evita desborde vertical */
  }

  .row {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 12px;
    background: transparent;
    border: 1px solid transparent;
    padding: 8px 10px;
    cursor: pointer;
    text-align: left;
    color: inherit;

    &:hover {
      background: rgba(255, 255, 255, .03);
      border-color: rgba(255, 255, 255, .05)
    }

    &.sel {
      background: rgba(77, 208, 225, .08);
      border-color: rgba(77, 208, 225, .25)
    }

    .avatarWrap {
      position: relative;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: grid;
      place-items: center;

      &.mention {
        outline: 2px solid #4dd0e1;
      }

      .dot {
        position: absolute;
        right: -2px;
        top: -2px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ff5151;
        border: 2px solid #0b1118;
        z-index: 2;
      }
    }

    .meta {
      display: flex;
      flex-direction: column;
      min-width: 0;
    }

    .name {
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 6px;

      .status-small {
        font-size: 0.9rem;
        cursor: help;
      }
    }

    .mentionTag {
      display: inline-block;
      padding: 1px 6px;
      font-size: .72rem;
      border-radius: 999px;
      background: #4dd0e1;
      color: #0b1118;
      font-weight: 800;
    }

    .sub {
      color: #9aa0a6;
      font-size: .86rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}