// ── /src/styles/_fonts.scss
// Registra fonts locales y expone $font-sans / $font-mono

@mixin font($family, $file, $weight: 400, $style: normal, $ext: 'woff2') {
  @font-face {
    font-family: '#{$family}';
    src: url('../fonts/#{$file}.#{$ext}') format('#{$ext}');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

/* Usando Sohne Web como fuente Fedes Sans */
@include font('Fedes Sans', 'Sohne_Web/Sohne-Leicht', 300, normal, 'woff');
@include font('Fedes Sans', 'Sohne_Web/Sohne-Kraftig', 400, normal, 'woff');
@include font('Fedes Sans', 'Sohne_Web/Sohne-Halbfett', 600, normal, 'woff');
@include font('Fedes Sans', 'Sohne_Web/Sohne-Fett', 700, normal, 'woff');

@include font('Fedes Mono', 'FedesMono-Regular', 400);

/* Variables de familia tipográfica */
$font-sans: 'Fedes Sans', Inter, system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
$font-mono: 'Fedes Mono', ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;