.statusDropdown {
  position: relative;
  display: inline-block;
}

.statusTrigger {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #121721;
  color: #fff;
  padding: 6px 19px;
  border-radius: 1rem;
  cursor: pointer;
}

.statusMenu {
  position: absolute;
  top: calc(100% + 6px);
 left: -.8rem;
  background: transparent;
  border: 1px solid #2c3441;
  border-radius: 12px;
  padding: 1rem;
  width: 140px;
  z-index: 50;
  
  box-shadow: 0 4px 12px rgba(0,0,0,.4);
  animation: fadeIn .15s ease;
}

.statusMenu .item {
  padding: 6px 11px;
  color: #fff;
  display: flex;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;

   margin-bottom: 10px;   

  &:last-child {
    margin-bottom: 0;  
  }

  &:hover {
    background: rgba(255,255,255,0.08);
  }

  &.active {
    background: rgba(255,255,255,0.12);
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-4px); }
  to   { opacity: 1; transform: translateY(0); }
}
