@use '../../styles/variables' as *;

.fh-federSelect{
  display:flex; gap:8px; align-items: center;
  &__search{ min-width: 200px; }
  &__select{
    height:40px; min-width: 220px;
    border-radius: 10px; border: 1px solid rgba(0,0,0,.3);
    background: linear-gradient(180deg, #0b1118, #0f1720);
    color: $fh-text; padding: 0 10px; font-size:.95rem;
  }
}
